.intro {
    /*background-image: url("nature.jpg");*/
    background-image: url("https://media.deseretdigital.com/file/9af0c88997?crop=top:0|left:0|width:940|height:500|gravity:Center&quality=55&interlace=none&resize=width:940&order=resize,crop&c=14&a=8e1c7dfe");
    position: relative;
    vertical-align: middle;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    
}
.header {
    font-size: 70px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: black;
}
.pic1 {
    /*background-image: url("monument-valley-UOT-Slideshow-Long-final-final_073-2000x1200.jpg");*/
    background-image: url("http://media2.govtech.com/images/940*556/Flickr-Utah-Desert.jpg");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
}
.pic2 {
    /*background-image: url("utah-mountain-ranges-widescreen-2560x16001.jpg");*/
    background-image: url("https://c1.staticflickr.com/2/1674/24525526674_5143280fbe_b.jpg");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
}
.caption {
    
    left: 0;
    top: 54%;
    width: 100%;
    font-size: 70px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: black;
}
.boarder {
    color: #777;
    background-color:white;
    
    
}
p1 {
    font-size:20px;
}
.button_wrapper {
    text-align: right;
}
